<launch>
  <arg name="laser_model" default="false"/>
  <arg name="robot"/>
  <arg name="multi" default=""/>
  <arg name="model_name" default="pmb2"/>
  <arg name="camera_model" default="structure"/>

  <!-- Robot description -->
  <param name="robot_description"
      command="xacro '$(find simple_models_description)/robots/robot.urdf.xacro'
    laser_model:=$(arg laser_model)
    robot:=$(arg robot)
    model_name:=$(arg model_name)
    $(arg multi)
    camera_model:=$(arg camera_model)"/>

</launch>
