<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find pmb2_description)/urdf/sensors/hokuyo_urg_04lx_ug01_laser.urdf.xacro"/>
  <xacro:include filename="$(find pmb2_description)/urdf/sensors/sick_tim551_laser.urdf.xacro"/>
  <xacro:include filename="$(find pmb2_description)/urdf/sensors/sick_tim561_laser.urdf.xacro"/>
  <xacro:include filename="$(find pmb2_description)/urdf/sensors/sick_tim571_laser.urdf.xacro"/>
  <xacro:include filename="$(find pmb2_description)/urdf/deg_to_rad.xacro"/>

  <!-- Laser characteristics -->
  <xacro:property name="base_laser_x" value="0.202"/>
  <xacro:property name="base_laser_y" value="0.0"/>
  <xacro:property name="base_laser_z" value="-0.115"/>

  <!-- laser_model can be: false, hokuyo, sick-551, sick-561, sick-571-->
  <xacro:macro name="base_sensors" params="name laser_model:=false">

    <xacro:if value="${laser_model == 'hokuyo'}">

      <!-- Laser -->
      <!-- Theoretic FOV = 220 -->
      <xacro:hokuyo_urg_04lx_ug01_laser name="${name}_laser" parent="${name}" ros_topic="scan_raw" update_rate="10" min_angle="${-110 * deg_to_rad}" max_angle="${110 * deg_to_rad}" >
        <origin xyz="${base_laser_x} ${base_laser_y} ${base_laser_z}" rpy="0 0 0" />
      </xacro:hokuyo_urg_04lx_ug01_laser>

    </xacro:if>

    <xacro:if value="${laser_model == 'sick-551'}">

      <!-- Laser -->
      <!-- Theoretic FOV = 220 -->
      <xacro:sick_tim551_laser name="${name}_laser" parent="${name}" ros_topic="scan_raw" update_rate="10" min_angle="${-110 * deg_to_rad}" max_angle="${110 * deg_to_rad}" >
        <origin xyz="${base_laser_x} ${base_laser_y} ${base_laser_z}" rpy="0 0 0" />
      </xacro:sick_tim551_laser>

    </xacro:if>

    <xacro:if value="${laser_model == 'sick-561'}">


      <!-- Laser -->
      <!-- Theoretic FOV = 220 -->
      <xacro:sick_tim561_laser name="${name}_laser" parent="${name}" ros_topic="scan_raw" update_rate="10" min_angle="${-110 * deg_to_rad}" max_angle="${110 * deg_to_rad}" >
        <origin xyz="${base_laser_x} ${base_laser_y} ${base_laser_z}" rpy="0 0 0" />
      </xacro:sick_tim561_laser>

    </xacro:if>

    <xacro:if value="${laser_model == 'sick-571'}">

      <!-- Laser -->
      <!-- Theoretic FOV = 220 -->
      <xacro:sick_tim571_laser name="${name}_laser" parent="${name}" ros_topic="scan_raw" update_rate="10" min_angle="${-110 * deg_to_rad}" max_angle="${110 * deg_to_rad}" >
        <origin xyz="${base_laser_x} ${base_laser_y} ${base_laser_z}" rpy="0 0 0" />
      </xacro:sick_tim571_laser>

    </xacro:if>

  </xacro:macro>

</robot>
